<template>
  <v-app>
    <v-app-bar color="primary" class="flex-grow-0" app dark>
      <v-app-bar-nav-icon
        class="d-lg-none"
        @click.stop="drawer = !drawer"
      ></v-app-bar-nav-icon>
      <v-app-bar-title>Coding Beauty</v-app-bar-title>
      <v-spacer></v-spacer>
      <v-icon> {{ icons.mdiPower }} </v-icon>
    </v-app-bar>
    <v-navigation-drawer app v-model="drawer" left>
      <v-list-item>
        <v-list-item-content>
          <v-list-item-title class="text-h6">
            Learning Vuetify</v-list-item-title
          >
          <v-list-item-subtitle> Using Navigation drawers</v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>
      <v-divider></v-divider>

      <v-list dense nav>
        <v-list-item-group
          v-model="group"
          active-class="blue--text text--accent-4"
        >
          <v-list-item :to="{ name: 'about' }">
            <v-list-item-title>Bar</v-list-item-title>
          </v-list-item>

          <v-list-item :to="{ name: 'test' }">
            <v-list-item-title>Fizz</v-list-item-title>
          </v-list-item>

          <v-list-item>
            <v-list-item-title>Buzz</v-list-item-title>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>
    <v-main>
      <v-container class="pa-3 mr-10">
        <div class="ma-1 ml-2 mr-6">
          <router-view></router-view>
        </div>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import { mdiPower } from "@mdi/js";
export default {
  methods: {},
  name: "App",
  data: () => ({
    drawer: true,
    icons: { mdiPower },
  }),
};
</script>
